.login-panel {
    margin-top: 25%;
    height: 100%;
}

.panel-heading {
    text-align: center;
    margin-top: 20px;
}

.panel-body {
    margin: 0 30px;
}

.btn-login {
    margin-top: 30px;
    margin-bottom: 20px;
}